{
  "plugins": [
    "@prettier/plugin-xml",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "xmlWhitespaceSensitivity": "ignore",
  "organizeImportsSkipDestructiveCodeActions": true,
  "pluginSearchDirs": false
}
