@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", display, serif;
}

p,
a,
li,
span,
button {
  font-family: "Lato", arial, sans-serif;
}

/* ***** General ***** */
* {
  font-family: goldman, sans-serif;
  background-color: #d9d9d9;
}

/* ***** Home ***** */

.home_main {
  display: grid;
  height: 100vh;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "btn"
    "images";
}

.home_btnContainer {
  grid-area: btn;
}

.home_itemScroll {
  grid-area: images;
}

.home_btn {
  background-color: #601212;
  color: white;
  border-radius: 10px;

  font-size: 2.2rem;
  letter-spacing: 3px;
  font-weight: 600;

  padding: 0.6rem 2.5rem;
}

/* ***** Nav ***** */

.nav_section {
  display: flex;
  align-items: center;
}

.nav_logo {
  height: 3rem;
}

.nav_logoSection {
  display: flex;
  align-items: center;
}

.nav_logoSection p {
  font-size: 2.5rem;
  font-family: goldman;
}

.nav_search {
  background-color: white;
  border-radius: 6px;
  height: 30px;
  width: 300px;
}

.nav_search::placeholder {
  font-family: sans-serif;
  padding-left: 1rem;
  color: rgba(52, 49, 49, 0.698);
}

.nav_search_container {
  position: relative;
  display: flex;
  padding-left: 3.5rem;
}
