@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "Goldman";
  src: url("./assets/fonts/Goldman-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  src: url("./assets/fonts/RobotoMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  src: url("./assets/fonts/RobotoMono-SemiBold.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}

body {
  @apply overflow-x-hidden bg-white font-body text-black transition-colors duration-200 dark:bg-black dark:text-white;
}

html,
body,
#root {
  @apply h-full;
}
